Django >= 1.4, < 1.5
pika
django_nose==1.4.1
nosexcover
rednose
requests==2.13.0
boto==2.6.0
path.py==10.0
dogstatsd-python==0.2.1
south
anyjson==0.3.3
numpy==1.6.2
lxml==2.3.6
newrelic==2.46.0.37
gunicorn==0.17.4
PyYAML==3.13